.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    height: 25vh;
}

.logo{
    width: 10%;
}

.menuHeader{
    display: flex;
    gap:3rem;
}

.menuHeader li{
    list-style: none;
}

