.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.logo{
    width: 10%;
}

nav ul{
    display: flex;
    gap:3rem;
}



nav ul li{
    list-style: none;
}