.contact form {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.contact label input {
  margin-left: 2rem;
}

input[type="submit" i] {
  color: #fff;
  background-color: #4c9be8;
  padding: 1.4rem 7rem;
}


