figure{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(163, 163, 163);
}

figure img {
    width: 100%;

} 

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}


